/* Default Styles */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .3s linear;
}

:root {
    --black: #000000;
    --gray1: #929292;
    --gray2: #9B9B9B;
    --gray3: #E9E9E9;
    --grey4: #969696;
    --white: #fff;
    --darkGray: #747474;
    --lightBlack: #262626;
    --red: #EB0028;
}

html{
  scroll-behavior: smooth;
}

.wrapper{
  margin: 0 auto;
  max-width: 1160px;
}

.menu_bar{
  font-size: 2rem;
  cursor: pointer;
  opacity: 0;
}

.navbar{
  position: sticky;
  top: 0;
  left: 0;
  /* width: 98vw; */
  border-top: 1px solid var(--gray3);
  border-bottom: 1px solid var(--gray3);
  background-color: var(--white);
  transition: 1s ease;
}

.navbar.scroll{
  transform: translateY(-100%);
}

.logo-section {
    margin: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
}

.main-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-li{
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 1.6rem;
}

.main-li:hover{
  cursor: pointer;
}

.sub-ul{
  position: absolute;
  top: 100%;
  list-style: none;
  width: 10rem;
  background-color: var(--white);
  padding: .5rem;
  border: 1px solid var(--gray3);
  display: none;
}

.sub-li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: .75rem;
  line-height: .75rem;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  border-bottom: 1px solid var(--gray3);
  padding: 1.25rem 0 .5rem 0;
  /* clear: right; */
}

ul li:hover ul,
ul li ul:hover { 
  display: block;
  background-color: var(--white);
  z-index: 1000;

}

.sub-li:hover{
  cursor: cursor;
  color: var(--grey4);
  padding: 1.25rem 0 .5rem .7rem;
}


/* ***************************************** */
main{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.box{
  width: 30%;
  font-family: Roboto;
}

.box .content h2{
  color: var(--red);
  font-weight: 700;
  font-size: .8rem;
  margin: 1rem 0;
}

.box .content h3{
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}

.box .content h4{
  color: var(--black);
  font-size: .75rem;
  font-weight: 500;
  line-height: .75rem;
}

.box .content h4 span{
  color: var(--gray2);
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
  margin: 1rem 0;
}

.box .content p{
  color: var(--gray2);
  font-size: .875rem;
  font-weight: 400;
  line-height: .75rem;
  margin: 1rem 0;
  line-height: 1.25rem;
}


/* **********************media************** */

@media(max-width: 555px){
  .wrapper{
    position: relative;
  }
  .menu_bar{
    opacity: 1;
  }
  .navbar{
    position: fixed;
    top: 4rem;
    left: 0;
    display: none;
    background-color: var(--white);
    z-index: 100;
  }
  .navbar.active{
    display: block;
  }
  .navbar.scroll{
    transform: translateY(0);
  }
  .main-ul{
    display: block;
  }
  .main-li{
    width: 17.4rem;
    border-bottom: 1px solid var(--gray3);
    padding: 1.1rem;
  }
  .img{
    width: 335px;
    margin: 0 auto;
  }
  .img img{
    width: 335px;
  }
  .box{
    width: 100%;
  }
  .content{
    width: 335px;
    margin: 0 auto;
  }
}

